.vscode
.idea
*.iml
out
venv

binary-search/5.out
binary-search/5.in
binary-search-for-the-answer/5.in
binary-search-for-the-answer/5.out
priority-queue/4.out
priority-queue/4.in
binary-search-tree/7.min-after.out
binary-search-tree/7.in
binary-search-tree/7.contains.out
binary-search-tree/6.min-after.out
binary-search-tree/6.in
binary-search-tree/6.contains.out
binary-search-tree/5.min-after.out
binary-search-tree/5.in
binary-search-tree/5.contains.out
image-clusterization/7.in
image-clusterization/7.out
image-clusterization/8.in
image-clusterization/8.out
image-clusterization/9.in
image-clusterization/9.out
image-clusterization/10.in
image-clusterization/10.out
image-clusterization/11.in
image-clusterization/11.out
image-clusterization/12.in
image-clusterization/12.out
