.vscode
.idea
*.iml
out
venv

binary-search/5.out
binary-search/5.in
binary-search-for-the-answer/5.in
binary-search-for-the-answer/5.out
priority-queue/4.out
priority-queue/4.in
binary-search-tree/7.min-after.out
binary-search-tree/7.in
binary-search-tree/7.contains.out
binary-search-tree/6.min-after.out
binary-search-tree/6.in
binary-search-tree/6.contains.out
binary-search-tree/5.min-after.out
binary-search-tree/5.in
binary-search-tree/5.contains.out
image-clusterization/7.in
image-clusterization/7.out
image-clusterization/8.in
image-clusterization/8.out
image-clusterization/9.in
image-clusterization/9.out
image-clusterization/10.in
image-clusterization/10.out
image-clusterization/11.in
image-clusterization/11.out
image-clusterization/12.in
image-clusterization/12.out
coins-system/9.full-answer_my.out
coins-system/8.full-answer_my.out
coins-system/7.full-answer_my.out
coins-system/6.full-answer_my.out
coins-system/5.full-answer_my.out
coins-system/4.full-answer_my.out
coins-system/3.full-answer_my.out
coins-system/26.full-answer_my.out
coins-system/25.full-answer_my.out
coins-system/24.full-answer_my.out
coins-system/23.full-answer_my.out
coins-system/22.full-answer_my.out
coins-system/21.full-answer_my.out
coins-system/20.full-answer_my.out
coins-system/2.full-answer_my.out
coins-system/19.full-answer_my.out
coins-system/18.full-answer_my.out
coins-system/17.full-answer_my.out
coins-system/16.full-answer_my.out
coins-system/15.full-answer_my.out
coins-system/14.full-answer_my.out
coins-system/13.full-answer_my.out
coins-system/12.full-answer_my.out
coins-system/11.full-answer_my.out
coins-system/10.full-answer_my.out
coins-system/2.full-answer_my.out
coins-system/2.full-answer_my.out
